# Projeto de Bases de Dados - Parte 3

### Docente Responsável

Prof. FirstName LastName

### Grupo GG
<dl>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
<dl>

In [1]:
%load_ext sql
%sql postgresql://projeto:projeto@postgres/projeto

# Empresa de comércio online

## 0. Carregamento da Base de Dados

Carregue o esquema de Base de Dados apresentado no Anexo A.

In [2]:
%%sql

DROP TABLE IF EXISTS customer CASCADE;
DROP TABLE IF EXISTS orders CASCADE;
DROP TABLE IF EXISTS pay CASCADE;
DROP TABLE IF EXISTS employee CASCADE;
DROP TABLE IF EXISTS process CASCADE;
DROP TABLE IF EXISTS department CASCADE;
DROP TABLE IF EXISTS workplace CASCADE;
DROP TABLE IF EXISTS works CASCADE;
DROP TABLE IF EXISTS office CASCADE;
DROP TABLE IF EXISTS warehouse CASCADE;
DROP TABLE IF EXISTS product CASCADE;
DROP TABLE IF EXISTS contains CASCADE;
DROP TABLE IF EXISTS supplier CASCADE;
DROP TABLE IF EXISTS delivery CASCADE;

CREATE TABLE customer(
cust_no INTEGER PRIMARY KEY,
name VARCHAR(80) NOT NULL,
email VARCHAR(254) UNIQUE NOT NULL,
phone VARCHAR(15),
address VARCHAR(255)
);

CREATE TABLE orders(
order_no INTEGER PRIMARY KEY,
cust_no INTEGER NOT NULL REFERENCES customer,
date DATE NOT NULL
--order_no must exist in contains
);

CREATE TABLE pay(
order_no INTEGER PRIMARY KEY REFERENCES orders,
cust_no INTEGER NOT NULL REFERENCES customer
);

CREATE TABLE employee(
ssn VARCHAR(20) PRIMARY KEY,
TIN VARCHAR(20) UNIQUE NOT NULL,
bdate DATE,
name VARCHAR NOT NULL
--age must be >=18
);

CREATE TABLE process(
ssn VARCHAR(20) REFERENCES employee,
order_no INTEGER REFERENCES orders,
PRIMARY KEY (ssn, order_no)
);

CREATE TABLE department(
name VARCHAR PRIMARY KEY
);

CREATE TABLE workplace(
address VARCHAR PRIMARY KEY,
lat NUMERIC(8, 6) NOT NULL,
long NUMERIC(9, 6) NOT NULL,
UNIQUE(lat, long)
--address must be in warehouse or office but not both
);

CREATE TABLE office(
address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);

CREATE TABLE warehouse(
address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);

CREATE TABLE works(
ssn VARCHAR(20) REFERENCES employee,
name VARCHAR(200) REFERENCES department,
address VARCHAR(255) REFERENCES workplace,
PRIMARY KEY (ssn, name, address)
);

CREATE TABLE product(
SKU VARCHAR(25) PRIMARY KEY,
name VARCHAR(200) NOT NULL,
description VARCHAR,
price NUMERIC(10, 2) NOT NULL,
ean NUMERIC(13) UNIQUE
);

CREATE TABLE contains(
order_no INTEGER REFERENCES orders,
SKU VARCHAR(25) REFERENCES product,
qty INTEGER,
PRIMARY KEY (order_no, SKU)
);

CREATE TABLE supplier(
TIN VARCHAR(20) PRIMARY KEY,
name VARCHAR(200),
address VARCHAR(255),
SKU VARCHAR(25) REFERENCES product,
date DATE
);

CREATE TABLE delivery(
address VARCHAR(255) REFERENCES warehouse,
TIN VARCHAR(20) REFERENCES supplier,
PRIMARY KEY (address, TIN)
);

Running query in 'postgresql://projeto:***@postgres/projeto'

Crie as instruções para o seu preenchimento de forma consistente, garantindo que todas as consultas SQL e OLAP, apresentadas mais adiante, produzam um resultado não vazio.

In [3]:
%%sql
INSERT INTO customer VALUES
(1000, 'Isabel Azevedo', 'isabelazevedo.1998@gmail.com', '+351259845331', 'Praceta Presidente Manuel de França, 2002-315 Porto'), 
(1001, 'Antonio Silva', 'antoniosilva@gmail.com', '+351965176843', 'Travessa Dr. Pedro de Ferreira, 2002-782 Porto'), 
(1002, 'Antonio Santos', 'antonio.santos@outlook.pt', '+351965758570', 'Rua Comendador Manuel Silva, 2002-805 Porto'), 
(1003, 'Isabel Silva', 'isabel.silva2003@tecnico.ulisboa.pt', '+351219313504', 'Rua Eng. Madalena de França, 2001-330 Santarém'), 
(1004, 'Antonio Ferreira', 'antonio.ferreira1987@tecnico.ulisboa.pt', '+351250432446', 'Travessa Comendador Pedro Antunes, 2000-738 Lisboa'), 
(1005, 'Isabel Santos', 'isabel.santos@tecnico.ulisboa.pt', '+351933949999', 'Praceta Presidente Pedro Silva, 2000-506 Lisboa'), 
(1006, 'Isabel Ferreira', 'isabel.ferreira1987@sapo.pt', '+351917319668', 'Alameda Eng. Manuel dos Santos, 2004-801 Faro'), 
(1007, 'Antonio Azevedo', 'antonio.azevedo1978@sapo.pt', '+351968509682', 'Praceta Comendador Madalena Antunes, 2002-565 Porto'), 
(1008, 'Pedro Santos', 'pedrosantos@gmail.com', '+351227076914', 'Praceta Dr. Joana de Ferreira, 2000-944 Lisboa'), 
(1009, 'Joana Santos', 'joanasantos.1981@outlook.pt', '+351966497315', 'Praça Eng. Henrique de França, 2003-104 Évora');

INSERT INTO orders VALUES
(12000, 1005, '2021-07-13'), 
(12001, 1006, '2023-03-05'), 
(12002, 1007, '2020-08-22'), 
(12003, 1001, '2023-08-03'), 
(12004, 1008, '2020-02-11'), 
(12005, 1002, '2021-12-03'), 
(12006, 1002, '2021-11-12'), 
(12007, 1000, '2022-05-22'), 
(12008, 1002, '2021-03-07'), 
(12009, 1000, '2023-11-14'), 
(12010, 1007, '2020-09-27'), 
(12011, 1005, '2022-03-27'), 
(12012, 1002, '2023-05-10'), 
(12013, 1001, '2020-10-28'), 
(12014, 1008, '2020-12-22'), 
(12015, 1006, '2022-05-22'), 
(12016, 1007, '2022-04-02'), 
(12017, 1006, '2020-09-05'), 
(12018, 1000, '2021-11-11'), 
(12019, 1002, '2022-09-08'), 
(12020, 1003, '2023-01-09'), 
(12021, 1002, '2020-05-31'), 
(12022, 1001, '2022-12-09'), 
(12023, 1009, '2020-10-07'), 
(12024, 1004, '2023-08-21');

INSERT INTO pay VALUES
(12018, 1000), 
(12017, 1006), 
(12002, 1007), 
(12003, 1001), 
(12001, 1006), 
(12012, 1002), 
(12020, 1003), 
(12009, 1000), 
(12021, 1002), 
(12014, 1008);

INSERT INTO employee VALUES
('100', '284741599', '1970-08-12', 'Maria Santos'), 
('101', '175253360', '1970-03-08', 'Maria Silva'), 
('102', '113041423', '1979-12-29', 'Pedro Silva'), 
('103', '364937505', '1991-04-03', 'Joana Faria'), 
('104', '449240867', '1994-01-07', 'Antonio Faria'), 
('105', '170347178', '1982-08-05', 'Pedro Azevedo'), 
('106', '365621525', '1999-04-21', 'Joana Silva'), 
('107', '400859888', '1999-07-18', 'Maria Faria'), 
('108', '399808162', '2002-01-12', 'Joana Azevedo'), 
('109', '410358581', '1981-04-12', 'Isabel Faria'), 
('110', '193472498', '1983-03-20', 'Pedro Faria'), 
('111', '437741506', '2002-11-11', 'Joana Ferreira'), 
('112', '162976888', '1994-10-13', 'Pedro Ferreira'), 
('113', '154798225', '1970-08-11', 'Maria Ferreira'), 
('114', '265729277', '1970-02-22', 'Maria Azevedo');

INSERT INTO process VALUES
('104', 12017), 
('104', 12021), 
('105', 12004), 
('107', 12000), 
('109', 12009), 
('100', 12017), 
('108', 12003), 
('109', 12003), 
('105', 12010), 
('104', 12011),
('104', 12019),
('104', 12016),
('104', 12022),
('104', 12007),
('104', 12015),
('100', 12011),
('100', 12019),
('100', 12016),
('100', 12022),
('100', 12007),
('100', 12015),
('107', 12022), 
('109', 12011), 
('105', 12007), 
('108', 12022);

INSERT INTO department VALUES
('Logistica'), 
('Direcao'), 
('Vendas'), 
('Recursos Humanos'), 
('Marketing');

INSERT INTO workplace VALUES
('Rua Presidente Madalena de Ferreira, 2003-159 Évora', 9.0718, -24.9707), 
('Rua St. Pedro Silva, 2000-108 Lisboa', 21.6705, 55.3597), 
('Praça Presidente Joana de França, 2002-607 Porto', 44.2843, 7.031), 
('Alameda Eng. Pedro de Ferreira, 2000-469 Lisboa', -10.621, 52.2408), 
('Rua Comendador Madalena de Ferreira, 2001-244 Santarém', 9.4985, -4.8712), 
('Alameda Comendador Pedro Antunes, 2004-263 Faro', 25.5903, 68.3796), 
('Praça Comendador Joana de França, 2003-640 Évora', 56.7742, 27.4111), 
('Praceta Presidente Pedro de França, 2000-620 Lisboa', -64.6159, 72.3871), 
('Praceta St. Manuel Silva, 2002-860 Porto', -83.4546, 63.7019), 
('Praça Comendador Madalena Silva, 2001-298 Santarém', -6.1146, 22.6047), 
('Travessa Dr. Manuel Antunes, 2004-671 Faro', -23.3455, 21.1146), 
('Praça Comendador Henrique dos Santos, 2002-683 Porto', 78.1954, 35.6574), 
('Alameda Comendador Pedro dos Santos, 2000-198 Lisboa', -89.3889, 12.7107), 
('Rua St. Pedro de França, 2001-956 Santarém', 15.9051, -63.1831), 
('Praceta Presidente Pedro de Ferreira, 2004-143 Faro', -76.7518, 54.7373), 
('Praceta Presidente Manuel Antunes, 2002-844 Porto', 59.8227, 88.1944), 
('Rua Comendador Pedro de Ferreira, 2004-758 Faro', -84.7837, 52.4098), 
('Travessa Dr. Manuel Silva, 2002-226 Porto', -41.3338, 78.2724), 
('Travessa Dr. Joana Silva, 2000-626 Lisboa', -43.3899, 20.5044), 
('Praceta Dr. Pedro de Ferreira, 2001-784 Santarém', -35.741, 77.6269);

INSERT INTO office VALUES
('Praça Comendador Joana de França, 2003-640 Évora'), 
('Travessa Dr. Manuel Antunes, 2004-671 Faro'), 
('Praceta Presidente Manuel Antunes, 2002-844 Porto'), 
('Alameda Eng. Pedro de Ferreira, 2000-469 Lisboa'), 
('Praceta Presidente Pedro de França, 2000-620 Lisboa'), 
('Travessa Dr. Manuel Silva, 2002-226 Porto'), 
('Alameda Comendador Pedro Antunes, 2004-263 Faro'), 
('Travessa Dr. Joana Silva, 2000-626 Lisboa'), 
('Praça Presidente Joana de França, 2002-607 Porto'), 
('Rua Comendador Madalena de Ferreira, 2001-244 Santarém');

INSERT INTO warehouse VALUES
('Alameda Comendador Pedro dos Santos, 2000-198 Lisboa'), 
('Praceta Presidente Pedro de Ferreira, 2004-143 Faro'), 
('Praça Comendador Henrique dos Santos, 2002-683 Porto'), 
('Praceta St. Manuel Silva, 2002-860 Porto'), 
('Rua Presidente Madalena de Ferreira, 2003-159 Évora'), 
('Praceta Dr. Pedro de Ferreira, 2001-784 Santarém'), 
('Praça Comendador Madalena Silva, 2001-298 Santarém'), 
('Rua St. Pedro de França, 2001-956 Santarém'), 
('Rua Comendador Pedro de Ferreira, 2004-758 Faro'), 
('Rua St. Pedro Silva, 2000-108 Lisboa');

INSERT INTO works VALUES
('100', 'Logistica', 'Travessa Dr. Manuel Antunes, 2004-671 Faro'), 
('104', 'Logistica', 'Rua St. Pedro de França, 2001-956 Santarém'), 
('108', 'Direcao', 'Travessa Dr. Joana Silva, 2000-626 Lisboa'), 
('113', 'Vendas', 'Travessa Dr. Manuel Antunes, 2004-671 Faro'), 
('102', 'Marketing', 'Praça Comendador Joana de França, 2003-640 Évora'), 
('113', 'Direcao', 'Alameda Comendador Pedro Antunes, 2004-263 Faro'), 
('102', 'Marketing', 'Praceta Dr. Pedro de Ferreira, 2001-784 Santarém'), 
('111', 'Vendas', 'Travessa Dr. Joana Silva, 2000-626 Lisboa'), 
('106', 'Marketing', 'Praceta Presidente Pedro de França, 2000-620 Lisboa'), 
('105', 'Recursos Humanos', 'Praça Comendador Joana de França, 2003-640 Évora'), 
('109', 'Marketing', 'Praceta St. Manuel Silva, 2002-860 Porto'), 
('106', 'Logistica', 'Praceta Presidente Pedro de França, 2000-620 Lisboa'), 
('102', 'Direcao', 'Rua Comendador Madalena de Ferreira, 2001-244 Santarém'), 
('101', 'Marketing', 'Praceta Presidente Pedro de França, 2000-620 Lisboa'), 
('103', 'Logistica', 'Praceta Presidente Manuel Antunes, 2002-844 Porto'), 
('105', 'Marketing', 'Praceta Presidente Manuel Antunes, 2002-844 Porto'), 
('104', 'Marketing', 'Rua St. Pedro de França, 2001-956 Santarém'), 
('109', 'Recursos Humanos', 'Praceta Presidente Pedro de Ferreira, 2004-143 Faro'), 
('108', 'Recursos Humanos', 'Praceta St. Manuel Silva, 2002-860 Porto'), 
('102', 'Recursos Humanos', 'Praceta Presidente Manuel Antunes, 2002-844 Porto');

INSERT INTO product VALUES
('50610110951145', 'Guitarra Squier', 'O produto a apresentar é Guitarra Squier', 681.72, 520474757342), 
('23455862507308', 'Violino Alhambra', 'O produto a apresentar é Violino Alhambra', 4511.79, 876689454386), 
('43508024342146', 'Metrónomo Ibanez', 'O produto a apresentar é Metrónomo Ibanez', 9718.07, 155996606912), 
('21599635918573', 'Metrónomo Fender', 'O produto a apresentar é Metrónomo Fender', 9302.25, 155648615189), 
('80072421319735', 'Palheta Alhambra', 'O produto a apresentar é Palheta Alhambra', 2233.86, 274215453869), 
('41431190721176', 'Metrónomo Alhambra', 'O produto a apresentar é Metrónomo Alhambra', 3114.67, 815539343573), 
('50138346705581', 'Guitarra Fender', 'O produto a apresentar é Guitarra Fender', 8663.3, 937551923244), 
('88157207047068', 'Afinador Alhambra', 'O produto a apresentar é Afinador Alhambra', 723.88, 446933909786), 
('67743636676101', 'Palheta Yamaha', 'O produto a apresentar é Palheta Yamaha', 5336.66, 546943870608), 
('62655706514856', 'Guitarra Alhambra', 'O produto a apresentar é Guitarra Alhambra', 219.89, 580634053780), 
('68736932044069', 'Metrónomo Squier', 'O produto a apresentar é Metrónomo Squier', 7612.8, 975367640712), 
('97955286004146', 'Violino Squier', 'O produto a apresentar é Violino Squier', 7022.04, 974750403591), 
('63955991528033', 'Guitarra Ibanez', 'O produto a apresentar é Guitarra Ibanez', 7223.97, 986187686075), 
('12748588254324', 'Palheta Ibanez', 'O produto a apresentar é Palheta Ibanez', 6920.85, 184848170333), 
('95189500154492', 'Guitarra Yamaha', 'O produto a apresentar é Guitarra Yamaha', 7734.41, 746842748845);

INSERT INTO contains VALUES
(12000, '67743636676101', 10), 
(12001, '23455862507308', 6), 
(12002, '68736932044069', 1), 
(12003, '12748588254324', 1), 
(12004, '62655706514856', 1), 
(12005, '62655706514856', 7), 
(12006, '63955991528033', 1), 
(12007, '62655706514856', 4), 
(12008, '12748588254324', 9), 
(12009, '88157207047068', 1), 
(12010, '41431190721176', 5), 
(12011, '80072421319735', 2), 
(12012, '97955286004146', 7), 
(12013, '95189500154492', 10), 
(12014, '62655706514856', 1), 
(12002, '12748588254324', 10), 
(12012, '50610110951145', 8), 
(12013, '43508024342146', 2), 
(12010, '21599635918573', 8), 
(12011, '63955991528033', 4), 
(12000, '41431190721176', 4), 
(12012, '68736932044069', 5), 
(12017, '50610110951145', 1), 
(12006, '23455862507308', 3), 
(12007, '50138346705581', 7);

INSERT INTO supplier VALUES
('544884428', 'Instrumento Afinada', 'Alameda Dr. Madalena de Ferreira, 2000-236 Lisboa', '23455862507308', '2019-01-06'), 
('550149573', 'Corda Melodia', 'Alameda St. Manuel dos Santos, 2001-361 Santarém', '12748588254324', '2019-10-16'), 
('540805401', 'Som Afinada', 'Praça Eng. Manuel de Ferreira, 2004-748 Faro', '97955286004146', '2019-06-24'), 
('583530978', 'Corda Afinada', 'Praceta Dr. Joana de França, 2004-676 Faro', '88157207047068', '2019-06-01'), 
('524651327', 'Instrumento Melodia', 'Rua Presidente Pedro dos Santos, 2001-827 Santarém', '23455862507308', '2019-08-15'), 
('592482598', 'Som Nova', 'Travessa Comendador Pedro de Ferreira, 2000-241 Lisboa', '62655706514856', '2019-04-04'), 
('561535338', 'Musica Nova', 'Alameda Dr. Henrique Antunes, 2002-350 Porto', '97955286004146', '2019-11-28'), 
('559932771', 'Voz Melodia', 'Alameda Presidente Madalena Silva, 2000-508 Lisboa', '63955991528033', '2019-12-04'), 
('581939964', 'Som Magnifica', 'Travessa Dr. Manuel Antunes, 2003-223 Évora', '63955991528033', '2019-03-21'), 
('594185701', 'Musica Magnifica', 'Alameda Presidente Pedro de Ferreira, 2000-762 Lisboa', '50138346705581', '2019-01-04'), 
('570301090', 'Voz Nova', 'Alameda Eng. Joana dos Santos, 2004-312 Faro', '62655706514856', '2019-11-14'), 
('518262010', 'Voz Magnifica', 'Rua Eng. Madalena Antunes, 2003-243 Évora', '68736932044069', '2019-11-09'), 
('539752720', 'Som Magica', 'Travessa Dr. Madalena Antunes, 2003-891 Évora', '95189500154492', '2019-03-06'), 
('589495302', 'Voz Magica', 'Travessa St. Henrique de França, 2003-900 Évora', '97955286004146', '2019-07-13'), 
('551976698', 'Instrumento Magnifica', 'Rua Presidente Pedro de Ferreira, 2000-732 Lisboa', '23455862507308', '2019-02-09'), 
('573685586', 'Instrumento Magica', 'Praça St. Madalena Silva, 2003-431 Évora', '21599635918573', '2019-08-27'), 
('515693537', 'Corda Magnifica', 'Rua Dr. Manuel dos Santos, 2003-825 Évora', '68736932044069', '2019-11-09'), 
('503045796', 'Instrumento Nova', 'Praça St. Pedro dos Santos, 2000-429 Lisboa', '88157207047068', '2019-06-11'), 
('536498222', 'Musica Magica', 'Praceta Dr. Pedro Antunes, 2002-213 Porto', '21599635918573', '2019-10-24'), 
('507775279', 'Musica Melodia', 'Praça Eng. Pedro dos Santos, 2002-492 Porto', '80072421319735', '2019-08-29');

INSERT INTO delivery VALUES
('Praça Comendador Madalena Silva, 2001-298 Santarém', '551976698'), 
('Praça Comendador Henrique dos Santos, 2002-683 Porto', '507775279'), 
('Praceta Presidente Pedro de Ferreira, 2004-143 Faro', '581939964'), 
('Praceta St. Manuel Silva, 2002-860 Porto', '550149573'), 
('Rua Comendador Pedro de Ferreira, 2004-758 Faro', '524651327'), 
('Praceta Presidente Pedro de Ferreira, 2004-143 Faro', '550149573'), 
('Rua Presidente Madalena de Ferreira, 2003-159 Évora', '594185701'), 
('Rua Presidente Madalena de Ferreira, 2003-159 Évora', '559932771'), 
('Rua St. Pedro de França, 2001-956 Santarém', '507775279'), 
('Rua Comendador Pedro de Ferreira, 2004-758 Faro', '561535338');

Running query in 'postgresql://projeto:***@postgres/projeto'

10 rows affected.

25 rows affected.

10 rows affected.

15 rows affected.

25 rows affected.

5 rows affected.

20 rows affected.

10 rows affected.

10 rows affected.

20 rows affected.

15 rows affected.

25 rows affected.

20 rows affected.

10 rows affected.

## 1. Restrições de Integridade

Apresente o código para implementar as seguintes restrições de integridade, se necessário, com recurso a extensões procedimentais SQL (Stored Procedures e Triggers):

(RI-1) Nenhum empregado pode ter menos de 18 anos de idade

In [4]:
%%sql
-- (RI-1)
ALTER TABLE employee ADD CONSTRAINT check_underage CHECK (EXTRACT(YEAR FROM AGE(bdate)) > 18);

Running query in 'postgresql://projeto:***@postgres/projeto'

(RI-2) Um 'Workplace' é obrigatoriamente um 'Office' ou 'Warehouse' mas não pode ser ambos

In [5]:
%%sql
-- (RI-2)
CREATE OR REPLACE FUNCTION cancel_office() RETURNS TRIGGER AS
$$
BEGIN
    IF (SELECT COUNT(*) FROM warehouse w WHERE w.address = NEW.address) > 0 THEN
        RAISE EXCEPTION 'Workplace already assigned!';
    END IF;
    RETURN NEW;
END
$$LANGUAGE plpgsql;

CREATE OR REPLACE FUNCTION cancel_warehouse() RETURNS TRIGGER AS
$$
BEGIN
    IF (SELECT COUNT(*) FROM office o WHERE o.address = NEW.address) > 0 THEN
        RAISE EXCEPTION 'Workplace already assigned!';
    END IF;
    RETURN NEW;
END
$$LANGUAGE plpgsql;

CREATE OR REPLACE TRIGGER prevent_office AFTER INSERT OR UPDATE ON office
    FOR EACH ROW EXECUTE FUNCTION cancel_office();
    
CREATE OR REPLACE TRIGGER prevent_warehouse AFTER INSERT OR UPDATE ON warehouse
    FOR EACH ROW EXECUTE FUNCTION cancel_warehouse();

Running query in 'postgresql://projeto:***@postgres/projeto'

(RI-3) Uma 'Order' tem de figurar obrigatoriamente em 'Contains'.

In [6]:
%%sql
-- (RI-3)
CREATE OR REPLACE FUNCTION cancel_order() RETURNS TRIGGER AS
$$
BEGIN
    IF (SELECT COUNT(*) FROM contains c WHERE c.order_no = NEW.order_no) = 0 THEN
        RAISE EXCEPTION 'Empty order!';
    END IF;
    RETURN NEW;
END
$$LANGUAGE plpgsql;

CREATE OR REPLACE TRIGGER verify_order AFTER INSERT OR UPDATE ON orders
    FOR EACH ROW EXECUTE FUNCTION cancel_order();

Running query in 'postgresql://projeto:***@postgres/projeto'

## 2. Consultas SQL

Apresente a consulta SQL mais sucinta para cada uma das seguintes questões

1) Qual o número e nome do(s) cliente(s) com maior valor total de encomendas pagas?

In [7]:
%%sql
SELECT c.cust_no, c.name
FROM customer c
JOIN pay USING (cust_no) JOIN contains USING (order_no) JOIN product USING (SKU)
GROUP BY cust_no HAVING SUM(qty*price) >= ALL(
    SELECT SUM(qty*price)
    FROM pay
    JOIN contains USING (order_no) JOIN product USING (SKU)
    GROUP BY cust_no
);

Running query in 'postgresql://projeto:***@postgres/projeto'

1 rows affected.

+---------+----------------+
| cust_no |      name      |
+---------+----------------+
|   1002  | Antonio Santos |
+---------+----------------+

2. Qual o nome dos empregados que processaram encomendas em todos os dias de 2022 em que houve encomendas?

In [8]:
%%sql
SELECT order_no, ssn FROM process
JOIN orders USING (order_no)
WHERE EXTRACT(YEAR FROM DATE(date)) = 2022;

SELECT DISTINCT e.name
FROM employee e
JOIN process h USING (ssn)
WHERE NOT EXISTS (
    SELECT order_no
        FROM orders
        WHERE EXTRACT(YEAR FROM DATE(date)) = 2022
    EXCEPT
    SELECT order_no FROM process p
        JOIN orders USING (order_no)
        WHERE EXTRACT(YEAR FROM DATE(date)) = 2022 AND h.ssn = p.ssn
);

Running query in 'postgresql://projeto:***@postgres/projeto'

16 rows affected.

2 rows affected.

+---------------+
|      name     |
+---------------+
| Antonio Faria |
|  Maria Santos |
+---------------+

3. Quantas encomendas foram realizadas mas não pagas em cada mês de 2022?

In [135]:
%%sql
SELECT m.month, COALESCE(o.order_count, 0) AS n_orders
FROM (
    SELECT generate_series AS month
    FROM generate_series(1, 12)
) AS m
LEFT JOIN (
    SELECT EXTRACT(MONTH FROM DATE(o.date)) AS month, COUNT(*) AS order_count
    FROM orders o
    WHERE NOT EXISTS (
        SELECT order_no FROM pay p WHERE o.order_no = p.order_no
    )
    GROUP BY month
) AS o ON m.month = o.month
ORDER BY m.month;

Running query in 'postgresql://projeto:***@postgres/projeto'

12 rows affected.

+-------+----------+
| month | n_orders |
+-------+----------+
|   1   |    0     |
|   2   |    1     |
|   3   |    2     |
|   4   |    1     |
|   5   |    2     |
|   6   |    0     |
|   7   |    1     |
|   8   |    1     |
|   9   |    2     |
|   10  |    2     |
+-------+----------+

## 3. Vistas

Crie uma vista que resuma as informações mais importantes sobre as vendas de produtos, combinando informações de diferentes tabelas do esquema de base de dados. A vista deve ter o seguinte esquema:

product_sales(sku, order_no, qty, total_price, year, month, day_of_month, day_of_week, city)

In [166]:
%%sql

CREATE VIEW product_sales AS
SELECT sku, order_no, qty, price*qty AS total_price, EXTRACT(YEAR FROM DATE(date)) AS year, 
EXTRACT(MONTH FROM DATE(date)) AS month, EXTRACT(DAY FROM DATE(date)) AS day_of_month,
EXTRACT(DOW FROM DATE(date)) AS day_of_week, SUBSTRING(address FROM '[^,][^ ]+$') AS city

FROM product p
JOIN contains c USING (sku)
JOIN orders o USING (order_no)
JOIN customer USING (cust_no)
JOIN pay USING (order_no)
;

Running query in 'postgresql://projeto:***@postgres/projeto'

## 4. Desenvolvimento de Aplicação

### Explicação da arquitetura da aplicação web, incluindo um link para uma versão de trabalho e as relações entre os vários ficheiros na pasta web/arquivos

...

## 5. Consultas OLAP

Usando a vista desenvolvida para a Questão 3, escreva duas consultas SQL que permitam analisar:

1. As quantidade e valores totais de venda de cada produto em 2022, globalmente, por cidade, por mês, dia do mês e dia da semana

In [167]:
%%sql

Running query in 'postgresql://projeto:***@postgres/projeto'

2. O valor médio diário das vendas de todos os produtos em 2022, globalmente, por mês e dia da semana

In [ ]:
%%sql
-- SELECT ...

## 6. Índices

Indique, com a devida justificação, que tipo de índice(s), sobre qual(is) atributo(s) e sobre qual(is) tabela(s) faria sentido criar, de forma a agilizar a execução de cada uma das seguintes consultas:

### 6.1
SELECT order_no
FROM orders 
JOIN contains USING (order_no) 
JOIN product USING (SKU) 
WHERE price > 50 AND 
EXTRACT(YEAR FROM date) = 2023

### Tipo de Índice, Atributos & Justificação

...

### 6.2
SELECT order_no, SUM(qty*price)
FROM contains 
JOIN product USING (SKU) 
WHERE name LIKE ‘A%’ 
GROUP BY order_no;

### Tipo de Índice, Atributos & Justificação

...